# Python
*.pyc
__pycache__/
# Python coverage
/.coverage
/.coverage.*
/fedramp_inventory.xlsx

## Build products above this line. Please see the `clean` target in Makefile.

# Local environment configuration
/deployments/.active
/deployments/*.local/
/environment.local.py
/deployments/*/environment.local.py
/deployments/*/.terraform/
/deployments/*/.terraform.*/
/deployments/*/.gcloud/
# Virtual environment created by Makefile
/.venv/
# PyCharm
/.idea
