# Python
*.pyc
__pycache__/
# Python coverage
/.coverage
/.coverage.*

## Build products above this line. Please see the `clean` target in Makefile.

# Local environment configuration
/deployments/.active
/deployments/*.local/
/environment.local.py
/deployments/*/environment.local.py
/deployments/*/.terraform/
/deployments/*/.terraform.*/
# File with environment definitions for GitLab jobs
/.gitlab.env
# Virtual environment created by Makefile
/.venv/
# PyCharm
/.idea
# FedRAMP inventory output
/docs/fedramp_inventory.xlsx