git+git://github.com/hannes-ucsc/chalice@1.6.0+3#egg=chalice
awscli==1.15.48
docker==3.4.1
locustio==0.9.0
pytest==3.2.3
coverage==4.0.3
gitpython==2.1.11
google-api-python-client==1.7.8
moto==1.3.6
pyyaml==3.12
responses==0.10.2
furl==2.0.0
PyGithub==1.43.5
openapi-spec-validator==0.2.8
watchdog==0.9.0
-r requirements.txt
