arrow==1.2.3
atomicwrites==1.4.1
attrs==21.4.0
aws-requests-auth==0.4.3
awscli==1.27.90
bagit==1.8.1
bagit-profile==1.3.1
bdbag==1.6.3
blessed==1.20.0
blinker==1.6.2
boto3==1.24.94
boto3-stubs==1.24.94
botocore==1.27.94
botocore-stubs==1.29.146
brotli==1.0.9
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chalice==1.27.3+10
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
colorama==0.4.4
configargparse==1.5.3
coverage==6.5.0
cryptography==41.0.1
deprecated==1.2.13
docker==6.0.0
docutils==0.16
elasticsearch==7.10.1
elasticsearch-dsl==7.4.0
et-xmlfile==1.1.0
fastavro==1.6.1
flake8==5.0.4
flask==2.3.2
flask-basicauth==0.2.0
flask-cors==3.0.10
furl==2.1.3
gevent==22.10.1
geventhttpclient==2.0.9
gitdb==4.0.10
gitpython==3.1.30
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
google-cloud-bigquery==2.34.3
google-cloud-bigquery-reservation==1.7.3
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
greenlet==1.1.3.post0
grpcio==1.54.2
grpcio-status==1.54.2
http-message-signatures==0.4.4
http-sfv==0.9.8
httplib2==0.22.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
inquirer==2.10.1
itsdangerous==2.1.2
jdcal==1.4.1
jinja2==3.1.2
jmespath==1.0.1
jq==1.3.0
jsonschema==4.17.3
jsonschema-spec==0.1.4
lazy-object-proxy==1.9.0
locust==2.12.2
markupsafe==2.1.3
mccabe==0.7.0
more-itertools==9.0.0
moto==4.1.4.dev8
msgpack==1.0.5
mypy-boto3-dynamodb==1.24.74
mypy-boto3-iam==1.24.90
mypy-boto3-lambda==1.24.54
mypy-boto3-s3==1.24.94
mypy-boto3-sqs==1.24.60
openapi-schema-validator==0.3.4
openapi-spec-validator==0.5.1
openpyxl==3.0.6
orderedmultidict==1.0.1
packaging==23.1
pathable==0.4.3
pip==22.2.2
ply==3.11
posix-ipc==1.1.1
proto-plus==1.22.2
protobuf==4.23.2
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
pygithub==1.56
pyjwt==2.7.0
pynacl==1.5.0
pyopenssl==23.2.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-editor==1.0.4
python-gitlab==3.13.0
pytz==2023.3
pyyaml==5.4.1
pyzmq==25.1.0
readchar==4.0.5
requests==2.31.0
requests-toolbelt==1.0.0
requirements-parser==0.2.0+1
responses==0.22.0
roundrobin==0.0.4
rsa==4.7.2
s3transfer==0.6.1
setuptools==65.5.1
setuptools-scm==5.0.2
six==1.16.0
smmap==5.0.0
strict-rfc3339==0.7
tinyquery==1.2+2
toml==0.10.2
types-awscrt==0.16.19
types-s3transfer==0.6.1
types-toml==0.10.8.6
typing_extensions==4.6.3
tzlocal==2.1
uritemplate==4.1.1
urllib3==1.26.12
watchdog==2.1.9
wcwidth==0.2.6
websocket-client==1.5.2
werkzeug==2.3.3
wheel==0.38.0
wrapt==1.15.0
xmltodict==0.13.0
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
