arrow==1.3.0
atomicwrites==1.4.1
attrs==22.2.0
aws-requests-auth==0.4.3
awscli==1.29.63
bagit==1.8.1
bagit-profile==1.3.1
bdbag==1.6.3
blessed==1.20.0
blinker==1.7.0
boto3==1.28.63
boto3-stubs==1.28.63
botocore==1.31.63
botocore-stubs==1.33.0
brotli==1.1.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chalice==1.29.0+11
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
colorama==0.4.4
configargparse==1.7
coverage==6.5.0
cryptography==41.0.7
deprecated==1.2.13
docker==6.1.2
docutils==0.16
elasticsearch==7.10.1
elasticsearch-dsl==7.4.0
et-xmlfile==1.1.0
fastavro==1.8.2
flake8==5.0.4
flask==3.0.0
flask-basicauth==0.2.0
flask-cors==4.0.0
furl==2.1.3
gevent==23.9.1
geventhttpclient==2.0.11
gitdb==4.0.11
gitpython==3.1.37
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-cloud-bigquery==3.12.0
google-cloud-bigquery-reservation==1.11.3
google-cloud-core==2.3.3
google-cloud-storage==2.12.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.59.3
grpcio-status==1.59.3
http-message-signatures==0.4.4
http-sfv==0.9.8
httplib2==0.22.0
idna==3.6
importlib-resources==5.13.0
inquirer==2.10.1
itsdangerous==2.1.2
jdcal==1.4.1
jinja2==3.1.2
jmespath==1.0.1
jq==1.3.0
jsonschema==4.17.3
jsonschema-spec==0.1.6
lazy-object-proxy==1.9.0
locust==2.12.2
markupsafe==2.1.3
mccabe==0.7.0
more-itertools==9.0.0
moto==4.1.13
msgpack==1.0.7
mypy-boto3-dynamodb==1.28.73
mypy-boto3-ecr==1.28.45
mypy-boto3-iam==1.28.79
mypy-boto3-kms==1.28.37
mypy-boto3-lambda==1.28.83
mypy-boto3-s3==1.28.55
mypy-boto3-sesv2==1.28.64
mypy-boto3-sqs==1.28.82
mypy-boto3-stepfunctions==1.28.36
openapi-schema-validator==0.3.4
openapi-spec-validator==0.5.1
openpyxl==3.0.6
orderedmultidict==1.0.1
packaging==23.2
pathable==0.4.3
pip==23.1.2
ply==3.11
posix-ipc==1.1.1
proto-plus==1.22.3
protobuf==4.25.1
psutil==5.9.6
py-partiql-parser==0.3.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
pygithub==1.56
pyjwt==2.8.0
pynacl==1.5.0
pyopenssl==23.3.0
pyparsing==3.1.1
pyrsistent==0.20.0
python-dateutil==2.8.2
python-editor==1.0.4
python-gitlab==3.13.0
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.1
readchar==4.0.5
requests==2.31.0
requests-toolbelt==1.0.0
requirements-parser==0.2.0+1
responses==0.22.0
roundrobin==0.0.4
rsa==4.7.2
s3transfer==0.7.0
setuptools==65.5.1
setuptools-scm==5.0.2
six==1.16.0
smmap==5.0.1
strict-rfc3339==0.7
tinyquery==1.2+2
toml==0.10.2
types-awscrt==0.19.17
types-python-dateutil==2.8.19.14
types-s3transfer==0.7.0
types-toml==0.10.8.7
typing_extensions==4.8.0
tzlocal==2.1
uritemplate==4.1.1
urllib3==1.26.18
watchdog==2.1.9
wcwidth==0.2.12
websocket-client==1.6.4
werkzeug==3.0.1
wheel==0.38.4
wrapt==1.16.0
xmltodict==0.13.0
zope.event==5.0
zope.interface==6.1
