cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
events==0.5
google-cloud-core==2.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.62.3
idna==3.11
markupsafe==3.0.3
orderedmultidict==1.0.1
packaging==25.0
proto-plus==1.26.1
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyopenssl==25.3.0
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
typing_extensions==4.15.0
wrapt==2.0.1
