blessed==1.20.0
blinker==1.9.0
botocore-stubs==1.36.6
brotli==1.1.0
click==8.1.8
colorama==0.4.6
configargparse==1.7
docutils==0.16
editor==1.6.6
et_xmlfile==2.0.0
flask==3.1.0
flask-cors==5.0.0
flask-login==0.6.3
geventhttpclient==2.3.3
gitdb==4.0.12
google-auth-httplib2==0.2.0
greenlet==3.1.1
httplib2==0.22.0
inquirer==3.4.0
itsdangerous==2.2.0
jinja2==3.1.5
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-boto3-apigateway==1.36.0
mypy-boto3-cloudwatch==1.36.0
mypy-boto3-dynamodb==1.36.0
mypy-boto3-ec2==1.36.5
mypy-boto3-ecr==1.36.0
mypy-boto3-es==1.36.0
mypy-boto3-iam==1.36.0
mypy-boto3-kms==1.36.0
mypy-boto3-lambda==1.36.0
mypy-boto3-s3==1.36.0
mypy-boto3-secretsmanager==1.36.0
mypy-boto3-securityhub==1.36.0
mypy-boto3-sns==1.36.3
mypy-boto3-sqs==1.36.0
mypy-boto3-ssm==1.36.6
mypy-boto3-stepfunctions==1.36.0
mypy-boto3-sts==1.36.0
mypy-extensions==1.0.0
openapi-schema-validator==0.6.3
pathable==0.4.4
psutil==6.1.1
py-partiql-parser==0.6.1
pycodestyle==2.12.1
pyflakes==3.2.0
pyjwt==2.10.1
pynacl==1.5.0
pyparsing==3.2.1
pyzmq==26.2.0
readchar==4.2.1
referencing==0.36.2
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rpds-py==0.22.3
runs==1.2.2
smmap==5.0.2
tqdm==4.67.1
types-awscrt==0.23.7
types-s3transfer==0.11.2
uritemplate==4.1.1
wcwidth==0.2.13
www-authenticate==0.9.2
xmltodict==0.14.2
xmod==1.8.1
zope.event==5.0
zope.interface==7.2
