argcomplete==1.12.3
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
bagit==1.7.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
commonmark==0.9.1
crc32c==2.2.post0
dcplib==2.1.2
docutils==0.15.2
google-api-core==1.31.5
google-auth-oauthlib==0.5.1
google-cloud-core==1.7.2
google-resumable-media==0.5.1
googleapis-common-protos==1.56.0
jsonpointer==1.14
markupsafe==2.1.1
oauthlib==3.2.0
orderedmultidict==1.0.1
packaging==21.3
proto-plus==1.20.3
protobuf==3.19.4
puremagic==1.4
pycparser==2.21
pyopenssl==22.0.0
pyrsistent==0.18.1
pytz-deprecation-shim==0.1.0.post0
pytz==2021.3
requests-oauthlib==1.3.1
s3transfer==0.3.7
six==1.16.0
tenacity==5.0.4
text-unidecode==1.3
tqdm==4.63.0
tweak==1.0.4
tzdata==2022.1
tzlocal==4.1
wrapt==1.14.0
