asn1crypto==0.24.0
attrs==19.3.0
aws-requests-auth==0.4.2
bdbag==1.5.1
boltons==20.2.0
boto3==1.17.29
boto==2.49.0
botocore==1.20.33
chevron==0.14.0
cffi==1.14.0
cryptography==3.3.2
deprecated==1.2.9
elasticsearch-dsl==6.4.0
elasticsearch==6.8.1
faker==0.8.11
furl==2.0.0
future==0.16.0
google-auth[pyopenssl]==1.28.0
google-cloud-bigquery==1.24.0
google-cloud-storage==1.29.0
git+git://github.com/DataBiosphere/hca-metadata-api@release/1.0b29#egg=hca-metadata-api
google-cloud-bigquery-reservation==1.0.1
grpcio==1.34.1
hca==7.0.1
git+git://github.com/hannes-ucsc/jmespath.py@hannes-fix-cache-race#egg=jmespath
jsonobject==0.9.9
more-itertools==7.2.0
pyasn1-modules==0.2.2
pyasn1==0.4.4
pyjwt==1.7.1
requests-http-signature==0.0.3
requests==2.22.0
rsa==4.1
typing-extensions==3.7.4
urllib3==1.25.9
werkzeug==0.15.5
-r requirements.trans.txt
