attrs==25.3.0
aws-requests-auth==0.4.3
bdbag==1.7.5
boto3==1.39.0  # Match version of the `boto3-stubs` dev dependency
botocore==1.39.0
chevron==0.14.0  # Match with types-chevron in requirements.dev.txt
deprecated==1.2.18
elasticsearch==7.17.12  # 7.x to match server-side
elasticsearch-dsl==7.4.1  # 7.x to match server-side
fastavro==1.11.1
furl==2.1.4
google-api-core==2.25.1
google-auth[pyopenssl]==2.40.3
google-cloud-bigquery==3.13.0  # < 3.14.0, see https://github.com/DataBiosphere/azul/issues/6709
http-message-signatures==0.7.0
jmespath==1.0.1
more-itertools==10.7.0
msgpack==1.1.1
requests==2.32.4
resumablesha256==1.0
rsa==4.7.2  # < 4.8, see https://github.com/DataBiosphere/azul/issues/6774. Resolve build-time dependency ambguity
setuptools==80.9.0  # Match requirements.pip.txt. Python 3.12 removed distutils, which we depended on transitively. Luckily, setuptools includes a vendored copy.
urllib3==1.26.20 # < 2, see https://github.com/DataBiosphere/azul/issues/6777, match with types-urllib in requirements.dev.txt
werkzeug==3.1.3
-r requirements.trans.txt
