argcomplete==1.12.3
argh==0.26.2
arrow==0.12.1
asn1crypto==0.24.0
atomicwrites==1.4.1
attrs==19.3.0
aws-requests-auth==0.4.2
awscli==1.19.33
bagit==1.7.0
bdbag==1.5.1
blessed==1.19.1
boto==2.49.0
boto3==1.17.29
boto3-stubs==1.17.29.0
botocore==1.20.33
brotli==1.0.9
cachetools==4.2.4
certifi==2022.9.24
cffi==1.14.0
chalice==1.27.0+8
charset-normalizer==2.0.12
chevron==0.14.0
click==8.1.3
colorama==0.4.3
commonmark==0.9.1
configargparse==1.5.3
coverage==5.1
crc32c==2.3
cryptography==38.0.1
dcplib==2.1.2
deprecated==1.2.9
docker==3.4.1
docker-pycreds==0.4.0
docutils==0.15.2
elasticsearch==7.10.1
elasticsearch-dsl==7.4.0
faker==0.8.11
fastavro==1.4.4
flake8==3.8.2
flask==2.2.2
flask-basicauth==0.2.0
furl==2.0.0
future==0.16.0
gevent==20.9.0
geventhttpclient==2.0.2
gitdb2==3.0.1
gitpython==2.1.11
google-api-core==2.10.1
google-api-python-client==1.7.8
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
google-cloud-bigquery==1.28.2
google-cloud-bigquery-reservation==1.6.3
google-cloud-core==2.3.2
google-cloud-storage==1.44.0
google-crc32c==1.5.0
google-resumable-media==1.3.3
googleapis-common-protos==1.56.4
greenlet==1.1.3
grpcio==1.34.1
hca==7.0.1
hca-metadata-api==1.0b36
httplib2==0.20.4
idna==3.1
importlib-metadata==5.0.0
inquirer==2.10.0
itsdangerous==2.1.2
jinja2==3.0.1
jmespath==0.9.5
jsonpointer==1.14
jsonschema==3.2.0
locust==1.2.3
markupsafe==2.1.1
mccabe==0.6.1
more-itertools==7.2.0
moto==2.0.6
msgpack==1.0.4
mypy-boto3-lambda==1.17.29.0
mypy-boto3-s3==1.17.29.0
mypy-boto3-sqs==1.17.29.0
mypy-extensions==0.4.3
oauthlib==3.2.1
openapi-spec-validator==0.2.8
orderedmultidict==1.0.1
pathtools==0.1.2
pip==19.3.1
ply==3.10
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.2
puremagic==1.4
py==1.11.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.6.0
pycparser==2.21
pyflakes==2.2.0
pygithub==1.43.5
pyjwt==2.4.0
pyopenssl==22.1.0
pyparsing==3.0.4
pyrsistent==0.18.1
pytest==3.2.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
pyyaml==5.4
pyzmq==24.0.1
readchar==4.0.3
requests==2.26.0
requests-http-signature==0.0.3
requests-oauthlib==1.3.1
requirements-parser==0.2.0+1
responses==0.10.2
rsa==4.7
s3transfer==0.3.7
setuptools==49.2.1
six==1.16.0
smmap==5.0.0
smmap2==3.0.1
strict-rfc3339==0.7
tenacity==5.0.4
text-unidecode==1.3
tinyquery==1.2+1
tqdm==4.64.1
tweak==1.0.4
typing-extensions==3.7.4
tzdata==2022.4
tzlocal==4.2
uritemplate==3.0.1
urllib3==1.26.5
watchdog==0.9.0
wcwidth==0.2.5
websocket-client==1.4.1
werkzeug==0.15.5
wheel==0.32.3
wrapt==1.14.1
xmltodict==0.13.0
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
