html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

/* 
 * The client secret is managed server-side (BFF pattern) so there is no need to
 * display the corresponding form field in the Swagger UI's login dialog.
 */
.auth-container .wrapper:has(label[for^="client_secret"]) {
    display: none;
}
