argcomplete==1.9.4
asn1crypto==0.24.0
attrs==17.4.0
aws-requests-auth==0.4.2
aws-xray-sdk==0.95
awscli==1.15.48
backcall==0.1.0
bagit==1.7.0
bdbag==1.5.1
boto==2.48.0
boto3==1.7.48
botocore==1.10.48
cachetools==3.0.0
certifi==2018.11.29
cffi==1.11.5
chalice==1.6.0+2
chardet==3.0.4
click==6.7
colorama==0.3.9
CommonMark==0.7.5
cookies==2.2.1
coverage==4.0.3
crcmod==1.7
cryptography==2.3.1
dataclasses==0.6
dcplib==1.4.0
decorator==4.3.0
docker==3.4.1
docker-pycreds==0.4.0
docutils==0.14
ecdsa==0.13
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
enum-compat==0.0.2
Faker==0.8.11
Flask==1.0.2
future==0.16.0
gevent==1.3.7
gitdb2==2.0.5
GitPython==2.1.11
google-auth==1.6.1
google-auth-oauthlib==0.2.0
greenlet==0.4.15
hca==4.4.1
hca-metadata-api==1.0b8
idna==2.7
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.4a1
jsondiff==1.1.1
jsonobject==0.7.1
jsonpickle==1.0
jsonpointer==1.14
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
locustio==0.8.1
MarkupSafe==1.1.0
mock==2.0.0
more-itertools==4.3.0
moto==1.3.6
msgpack-python==0.5.6
oauthlib==2.1.0
parso==0.3.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
puremagic==1.4
py==1.7.0
pyaml==18.11.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycryptodome==3.7.2
Pygments==2.3.0
PyJWT==1.7.1
pytest==3.2.3
python-dateutil==2.7.5
python-jose==2.0.2
pytz==2018.7
PyYAML==3.12
pyzmq==17.1.2
requests==2.20.0
requests-http-signature==0.0.3
requests-oauthlib==1.0.0
responses==0.10.2
retrying==1.3.3
rsa==3.4.2
rstr==2.2.6
s3transfer==0.1.13
six==1.12.0
smmap2==2.0.5
text-unidecode==1.2
tornado==5.1.1
traitlets==4.3.2
tweak==0.6.7
typing==3.6.4
urllib3==1.23
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.11.0
