# Added by Alex Hancock
*/2 * * * * root env - `cat /app/log/env.txt` python /app/luigi-interface/new_monitor.py > /app/log/output.txt 2> /app/log/error.txt
*   * 1 * * root env - `cat /app/log/env.txt` python /app/luigi-interface/job_deleter.py > /app/log/deleter_output.txt 2> /app/log/deleter_error.txt

